@media (max-width: 1250px) {
	body {
		background-size: auto !important;
	}
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.temp-display p {
  font-size: 35px;
}

.hi-lo p {
  display: inline;
}

.conditions p, img {
  display: inline;
}

#main-temp {
  text-align: center;
  border: none;
  background: none;
  outline: none;
}
