
/*****************
**** DOCUMENT ****
*****************/
html {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: transparent;
}

.container-fluid {
	padding: 50px 20px 20px 20px;
}

/*****************
**** TEXT ****
*****************/

h1 {
	font-size: 2em;
	font-family: "Ubuntu", sans-serif;
	color: #f6f6f6;
}

.temp-display p {
  font-size: 65px;
}

.info {
	font-size: 1em;
}

.hi-lo p {
  display: inline;
	font-size: 30px;
	margin-right: 10px;
	color: 	#303030;
}

.conditions p, img {
  display: inline;
}

#location {
	font-size: 40px;
	color: #e6e6e6;
}

#main-temp {
  text-align: center;
  border: none;
  background: none;
  outline: none;
}

/*****************
**** FOOTER ****
*****************/

footer {
	font-size: 10px;
	color: #f6f6f6;
}
